
main  {
	display: grid;
	position: relative;
	padding-top: 6rem;
	width: 70%;
	margin: 0 auto;
}

footer {
	display: block;
	width: 100%;
	height: 75px;
	background-color: #ffecb3 !important;
	opacity: 0.75;
	position: absolute;
}

body {
	position: relative;
	z-index: 100;
}

header {
	display: grid !important;
	grid-template-areas: "whoisLogo navigation";
	justify-content: space-between;
	z-index: 200;
	position: fixed;
	background-color: grey !important;
	width: 100vw;
	opacity: 0.75;
	height: 50px;
}

.whoisLogo {
	grid-area: whoisLogo;
	display: inline-block;
	height: 40px;
	margin: 5px;
	margin-left: 2.5rem;
}

.whoisNavBar {
	grid-area: navigation;
	display: inline-block;
	height: 40px;
	font-size: 1rem;
	width: 100%;
	margin-right: 2.5rem;
}

.nav-link {
	padding-top: 0 !important;
}

.footerText {
	text-align: center;
	font-weight: bold;
	font-size: 0.75rem;
	align-self: center;
	margin-top: 0.5rem;
}

.infobox {
	background-color: #fff9e6;
	margin-bottom: 1rem;
	
	height: 75px;
}

.thirdHeading {
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	padding-top: 0.5rem;
	font-style: cursive;
}

.tryText {
	font-family: comix;
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	font-family: 'Coming Soon', cursive;
}

.mainHeader {
	font-weight: bold;
	font-size: 3rem;
	color: silver;
	text-align: center;
	padding-bottom: 1rem;
}

.whoisRecord {
	width: 100%;
}

.textWhois {
	background-color: #fff9e6;
	border-radius: 50px;
	padding-top: 2rem;
	padding-bottom: 2rem;
	
	font-size: 18px;
	line-height: 1.5;
	margin-left: 1rem;
	font-family: monospace;
	white-space: pre-wrap;
	padding-left: 3rem;
	text-align: left;
}

.graphImage {
	position: fixed;
	z-index: 0;
	background-color: grey;
}

.domainProfile {
	//background-color: #c2b280;
	width: 100%;
}

.websiteProfile {
	//background-color: #c2b280;
	width: 100%;
}

.vulnerabilities {
	width: 100%;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.domainProfile~.websiteProfile {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
